name: Deploy to AWS Elastic Beanstalk

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Install dependencies
        run: npm install

      - name: Build Docker image
        run: docker build -t first-project:latest .

      - name: Log in to AWS Elastic Beanstalk
        uses: aws-actions/amazon-ecr-login@v1

      - name: Deploy to AWS Elastic Beanstalk
        run:
          aws elasticbeanstalk create-application-version --application-name first-project --version-label ${{ github.sha }} --source-bundle S3Bucket=elasticbeanstalk-eu-north-1-984491942727,S3Key=$GITHUB_SHA.zip
          aws elasticbeanstalk update-environment --environment-name Docker-test-env --version-label ${{ github.sha }}
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          region: us-north-1
          deployment_package: deploy.zip
          